<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello, <%= user.username %></h1>

    <div class="container">
        
        <div class="card left-card">
            <h3>Meus Cursos</h3>
            
            <div class="course">
                <p>Gestão Ágil com Scrum e Kanban</p>
                <div class="progress-bar">
                    <div class="progress" style="width: 30%;"></div>
                </div>
            </div>

            <div class="course">
                <p>Design Thinking para Resolução de Problemas na TI</p>
                <div class="progress-bar">
                    <div class="progress" style="width: 90%;"></div>
                </div>
            </div>

            <div class="course">
                <p>Inteligência Artificial para Líderes e Gestores</p>
                <div class="progress-bar">
                    <div class="progress" style="width: 10%;"></div>
                </div>
            </div>
        </div>

    
        <div class="card right-card">
        
            <span class="medal">&#127941;</span>
            <h3>Meus certificados</h3>
            <div class="certificates">
                <p>Ética e Responsabilidade no Uso de IA</p>
                <p>Análise de Dados com IA</p>
            </div>
        </div>
    </div>

</body>
</html>
