@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    min-height: 130vh;
}

.title{
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
}



/* Seu instrutor e Card de Instrutor */
.tutor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  color: #333;
}


.tutor-card {
  background: #f9fcff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 50px;
  max-width: 1000px;
  display: flex;
  gap: 50px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.05);

}

.tutor-title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #222;
}

.tutor-info {
  flex: 1;
  text-align: center;
  width: 200px;
}

.tutor-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ddd;
  margin-bottom: 15px;
}

.tutor-name {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
}

.tutor-role {
  font-size: 14px;
  color: #777;
}

.info-bottom {
  margin-top: 15px;
}

.stars {
  font-size: 14px;
  color: #f39c12; 
  margin-bottom: 10px;
}

.info-xtra {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 18px;
  color: #3b82f6;
}

.tutot-students,
.tutor-courses {
  flex-direction: column;
}


.tutor-students i,
.tutor-courses i,
.tutor-students span,
.tutor-courses span {
  display: block;
}

.info-xtra div span:first-child {
  font-weight: bold;
  display: block;
  font-size: 18px;
}

/* Coluna da direita */

.tutor-profile {
  justify-content: space-evenly;
}

.tutor-description,
.tutor-experience,
.tutor-certificates {
  margin-bottom: 20px;
}

.tutor-certificates {
  overflow-x: auto;
}

.tutor-description h3,
.tutor-experience h3,
.tutor-certificates h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #222;
}

.tutor-description span {
  font-size: 14px;
  color: #555;
}

.tutor-experience ul,
.tutor-certificates ul {
  padding: 0;
  margin: 0;
}

.tutor-experience ul li{
  list-style: circle;   
}

.tutor-experience ul li,
.tutor-certificates ul li {
  font-size: 13px;
  margin-bottom: 6px;
  color: #444;
}

.tutor-certificates span {
    display: inline-block;
    white-space: nowrap;
    font-size: 13px;
    border: #444 1px solid;
    border-radius: 20px;
    padding: 5px;
    background-color: #f4f4f4;
    margin: 4px 2px;
}

/* fim do Seu instrutor */