@import url('href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f4f4f4;
}

a{
  text-decoration: none;
  color: inherit;
}


.hero {
  background-image:url('../src/backgrounds/182428240217.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  height: 95vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero-container {
  display: flex;
  width: 70%;
  height: 60vh;
  background-color: #00101fb9;
  border: 2px solid #0c121891;
  border-radius: 10px;
  justify-content: center;
  align-items:start;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 25px;
  text-wrap: nowrap;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.container h1 {
  font-size: 34px;
}
.hero ul {
  list-style: none;
  text-align: left;
  color: #e4e4e4;
  font-size: 12px;
  font-weight: 200;
}
.hero-img {
  width: 500px;
  height: 100%;
  overflow: hidden;
}

.hero-img img {
  width: 600px;
  height: auto;
  object-fit: cover;
  transform: translateY(60px);
}

.hero h3{
  font-size: 18px;
  font-weight: 200;
  color: #e4e4e4;
}

.container .buttons button {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  background: #1b2232;
  transition: transform 0.2s ease-in-out;
}

.buttons button:hover {
  transform: scale(1.05); 
}

.categories {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-160px);
}

.category-buttons {
  text-align: center;
  margin: 20px;
  border-bottom: 2px solid gray;
  width: 70%;
}

.category-buttons a {
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  color: #d3d3d3;
}
.category-buttons a:hover {
  color: #4a78a6;
}
.cards-area {
  background-color: #1b2232;
  border-radius: 10px;
  width: 75vw;
  height: 80vh;
  overflow: auto;
  flex-wrap: nowrap;
  padding: 25px;
  
}

.cards {
  display: flex;
  justify-content: start;
  align-items: center;
}

.card {
  background: white;
  padding: 20px;
  margin: 15px;
  min-width: 250px;
  min-height: 300px;
  height: 300px;
  width: 250px;
  border-radius: 10px 0 10px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.card .img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 45%;
  border-radius: 10px;
}

.card p {
  color: #1b2232;
  font-size: 12px;
  font-weight: 500;
}

.card h3 {
  color: #1b2232;
  font-size: 14px;
  font-weight: 600;
}

.main {
  width: 90%;
  margin: -50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.main h1 {
  font-size: 38px;
  font-weight: 800;
  color: #1b2232;
}

.comunidades {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
}
.big-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70%;
}
.small-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.docker {
  margin: 20px;
  padding: 10px 15px;
  width: 90%;
  height: auto;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #090f1a;
  background-color: #7db1e58a;
  display: flex;
  flex-direction: column;
}
.docker:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.docker-header {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.small-container .docker {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
}

.docker-body {
  margin: 10px;
}

.docker-body p {
  color: #1b2232;
  font-size: 12px;
  font-weight: 500;
}

.action-button {
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #f8f8f8;
  background-color: #1b2232;
}
